@model IndexViewModel
<div class="mt-5">
    <aside class="category-filters margin-bottom-20">
        @*<div class="category-filters-section hidden-xs hidden-sm">*@
        <h4>Книги</h4>
        <ul class="cateogry-filters-list">
            @foreach (var category in Model.Categories)
            {

                <li> <a asp-controller="Home" asp-action="Index" asp-route-CategoryId="@category.Id" class="">@category.Name</a></li>
                @*<li><a href="/books/2-Енциклопедии-и-справочници/">Енциклопедии и справочници</a></li>
                    <li><a href="/books/11-Литература-за-деца-и-юноши/">Литература за деца и юноши</a></li>
                    <li><a href="/books/17-Медицина/">Медицина</a></li>
                    <li><a href="/books/18-Езотерика.-Духовни-учения/">Езотерика. Духовни учения</a></li>
                    <li><a href="/books/32-Чужди-езици:-Помагала,-речници/">Чужди езици: Помагала, речници</a></li>
                    <li><a href="/books/33-Компютри-и-интернет/">Компютри и интернет</a></li>
                    <li><a href="/books/53-Приложна-психология/">Приложна психология</a></li>
                    <li><a href="/books/54-Хоби-и-свободно-време/">Хоби и свободно време</a></li>
                    <li><a href="/books/67-Изкуство/">Изкуство</a></li>
                    <li><a href="/books/68-Медицина-за-всеки/">Медицина за всеки</a></li>
                    <li><a href="/books/72-Природни-и-точни-науки/">Природни и точни науки</a></li>
                    <li><a href="/books/110-Хуманитарни-науки/">Хуманитарни науки</a></li>
                    <li><a href="/books/162-История/">История</a></li>
                    <li><a href="/books/220-Икономика/">Икономика</a></li>
                    <li><a href="/books/225-Право/">Право</a></li>
                    <li><a href="/books/242-Техника/">Техника</a></li>
                    <li><a href="/books/279-Лично-стопанство/">Лично стопанство</a></li>
                    <li><a href="/books/282-Книги-за-България/">Книги за България</a></li>
                    <li><a href="/books/422-Секс,-еротика/">Секс, еротика</a></li>*@

            }
        </ul>
        @*</div>*@
    </aside>
</div>



