@model CategoryBooksViewModel
@{
    ViewData["Title"] = "Категории";
}

<h2>@ViewData["Title"]</h2>
<div>
    <div class="row">
        <form method="post" asp-action=@nameof(BooksController.AddCategoryToBook)>
            <input hidden name="BookId" asp-for=@Model.Book.Id />
            <div class="col-md-11">
                <select name="CategoryId" asp-items=Model.Categories class="form-control"></select>
            </div>
            <div class="col-md-4 ">
                <input type="submit" class="btn btn-primary " value="Добави категория" />
            </div>
        </form>
    </div>
</div>

