@model BookInputModel

@{
    ViewData["Title"] = "Създай Книга";
}

<h2>@ViewData["Title"]</h2>

<partial name="_BookForm">

    @section Scripts {
        <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    }

