@model CategoryInputModel

@{
    ViewData["Title"] = "Създай Категория";
}

<h2>@ViewData["Title"]</h2>

<partial name="_CategoryForm">

    @section Scripts {
        <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    }

