@model int

@{
    ViewData["Title"] = "Изтрий Категория";
}

<h2>@ViewData["Title"]</h2>

<h2>
    Сигурни ли сте,че искате да изтриете?
</h2>

<div class="btn-group">
    <a asp-action="Index" class="btn btn-default">Назад</a>
    <a asp-action="ConfirmDelete" asp-route-id=@Model class="btn btn-danger">Потвърди изтриването</a>
</div>

