@model IEnumerable<AdminCategoryListingServiceModel>

@{
    ViewData["Title"] = "Администрация на Категории";
}

<h2>
    @ViewData["Title"]
</h2>
<div class="row">
    <div class="col-md-4 mb-3">
        <a asp-action=@nameof(CategoriesController.Create) class="btn btn-primary">Добави категория</a>
    </div>
</div>
@if (Model.Count() == 0)
{
    <h3 class="text-center mb-3">Няма добавени категории. </h3>
}
else
{
    <div class="container justify-content-center">
        <table class="table table-hover table-bordered table-striped ">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Име</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td class="justify-content-center d-flex">
                            @if (category.IsDeleted == false)
                            {
                                <a asp-action=@nameof(CategoriesController.Edit) asp-route-id=@category.Id class="btn btn-warning m-1">Редактирай</a>
                                <a asp-action=@nameof(CategoriesController.Hide) asp-route-id=@category.Id class="btn btn-danger m-1">Скрий</a>
                                <a asp-action=@nameof(CategoriesController.Show) asp-route-id=@category.Id class="btn btn-success m-1 disabled">Покажи</a>
                                <a asp-action=@nameof(CategoriesController.Books) asp-route-id=@category.Id class="btn btn-primary pull-right m-1">Книги</a>
                            }
                            else
                            {
                                <a asp-action=@nameof(CategoriesController.Edit) asp-route-id=@category.Id class="btn btn-warning m-1">Редактирай</a>
                                <a asp-action=@nameof(CategoriesController.Hide) asp-route-id=@category.Id class="btn btn-danger m-1 disabled">Скрий</a>
                                <a asp-action=@nameof(CategoriesController.Show) asp-route-id=@category.Id class="btn btn-success m-1">Покажи</a>
                                <a asp-action=@nameof(CategoriesController.Books) asp-route-id=@category.Id class="btn btn-primary pull-right m-1">Книги</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

