@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<div class="mx-auto modal-dialog text-center">
    <div class="modal-content">
        <div class="modal-heading mt-5">
            <div class="modal-heading mt-3">
                <div class="row d-flex justify-content-around">
                    <div class="col-sm-7 col-xs-7 mb-2">
                        <h4>Вход за потребители</h4>
                    </div>
                    <div class="col-sm-5 col-xs-5 mb-2">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><h4>Регистрация</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-2">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.UserName" class="form-control" placeholder="Потребителско име" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Парола" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Вход</button>
                <div class="form-group">
                    <div class="checkbox mt-4">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
