@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="mx-auto modal-dialog text-center">
    <div class="modal-content">
        <div class="modal-heading mt-3">
            <div class="row d-flex justify-content-around">
                <div class="col-sm-7">
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"><h4 class="text-info">Вход за потребители</h4></a>
                </div>
                <div class="col-sm-5">
                    <h4>Регистрация</h4>
                </div>
            </div>
        </div>
        <div class="container mb-2">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Username" class="form-control" placeholder="Потребителско име" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="E-mail адрес" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Парола"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Повторете паролата" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
