@model AuthorInputModel

@{
    ViewData["Title"] = "Създай Категория";
}

<h2>@ViewData["Title"]</h2>

<partial name="_AuthorForm" model ="@Model">

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

