@model AuthorInputModel

@{
    ViewData["Title"] = "Създай Категория";
}

<h2>@ViewData["Title"]</h2>

<partial name="_AuthorForm" model="@Model">

    @section Scripts {
        <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    }

