@model PublisherInputModel

@{
    ViewData["Title"] = "Създай Издателство";
}

<h2>@ViewData["Title"]</h2>

<partial name="_PublisherForm" model="@Model">

    @section Scripts {
        <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    }

